<main>







<div class="border">

  <div class="top">

 
  <div class="top1">
      <button class="btns1" >
          <span id="displayTime">00:00:00</span>
      </button>
      <button class="btns2">
          <span id="displayTimes">00:00:00</span>
      </button>
      <button class="btns3">
          Submit
          <img src="../Task01/Images/seen.png" alt="" class="img1">
      </button>
  </div>  
  </div>
  


  <div class="top2">
  <div class="box1">

  <div class="btnbdr">
   
       
      <button class="btnsss">01</button>
      <button class="btnsss">2</button>
      <button class="btnsss">3</button>
      <button class="btnsss">4</button>
      <button class="btnsss">5</button>
      <button class="btnsss">6</button>
      <button class="btnsss">7</button>
      <button class="btnsss">8</button>
      <button class="btnsss">9</button>
      <button class="btnsss">10</button>
      <button class="btnsss">11</button>
      <button class="btnsss">12</button>
      <button class="btnsss">13</button>
      <button class="btnsss">14</button>
      <button class="btnsss">15</button>
      <button class="btnsss">15</button>
      <button class="btnsss">16</button>
      <button class="btnsss">17</button>
      <button class="btnsss">18</button>
      <button class="btnsss">19</button>
      <button class="btnsss">20</button>
      <button class="btnsss">21</button>
      <button class="btnsss">22</button>
      <button class="btnsss">23</button>
      <button class="btnsss">24</button>
      <button class="btnsss">25</button>
      <button class="btnsss">26</button>
      <button class="btnsss">27</button>
      <button class="btnsss">28</button>
      <button class="btnsss">29</button>
      <button class="btnsss">30</button>
      <button class="btnsss">31</button>
  </div>
  </div>
  </div>




  <div class="top3">
      <div class="tp31">
          <h4>Question 1</h4>
          <p>Turning and acceleration errors are caused by?</p>
      </div>
      
      <ul class="options">
          <li class="fm1">
              <label class="ans">
                  <input type="radio"> Horizontal Component of Earth's Magnetic field
                  
              </label>
          </li>

          <li class="fm2">
              <label class="ans">
                  <input type="radio"> Vertical Component of Earth's Magnetic field
                  
              </label>
          </li>

          <div class="fm3">
              <div class="ans">
                  <input type="radio"> Total Earth's Magnetic Field
                  
              </div>
          </div>

          

      </ul>


  </div>



  <div class="top4">

 
      <div class="top41">
          <button class="btns001" >
              Back
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>
          <button class="btns001">
              Reset
              <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
          <button class="btns001">
              Confirm
              <i class="fa fa-check-circle" aria-hidden="true"></i>
          </button>
          <button class="btns001">
              Next
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
      </div>  
      </div>

</div>
</main>